<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis quo vel deleniti ut, numquam officia culpa minus aut. Illo saepe fugiat, cumque a aperiam molestias totam voluptates obcaecati repellendus rerum!
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (47) 3643-1234</li>
                <li><i class="fa-brands fa-whatsapp"></i> (47) 99123-4567</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
